@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EdPlatform.App.Pages.Account.LoginModel

@{
    Layout = "_Layout";
}

<div class="auth-cover">
    <div class="auth">
        <div class="auth-form">
            <div class="auth-title">
                <h2>Увійдіть в аккаунт</h2>
            </div>

            <form method="post">
                <div class="form-group">
                    <label>Введіть логін</label>
                    <input asp-for="Input.Login" placeholder="Логін" autocomplete="username" />
                    <span asp-validation-for="Input.Login"></span>
                </div>
                <div class="form-group">
                    <label>Введіть пароль</label>
                    <input asp-for="Input.Password" type="password" placeholder="Пароль"
                        autocomplete="current-password" />
                    <span asp-validation-for="Input.Password"></span>

                    <a href="#">Забули пароль?</a>
                </div>

                @*<div asp-validation-summary="All" class="text-danger"></div>*@

                <div class="auth-button">
                    <button type="submit">Увійти</button>
                </div>

                <div class="auth-links">
                    <a asp-page="/Account/Register">Немаєте аккаунту? Створіть його.</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .content {
        background: none !important;
    }
</style>

<body>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let footer = document.querySelector('footer');
            footer.classList.add("pinned");
        });
    </script>
</body>

@*@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}*@