@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EdPlatform.App.Pages.Account.RegisterModel

@{
    Layout = "_Layout";
}

<div class="auth-cover">
    <div class="auth">
        <div class="auth-form">
            <div class="auth-title">
                <h2>Створіть аккаунт</h2>
            </div>

            <form method="post">
                <div class="form-group">
                    <label>Введіть логін</label>
                    <input asp-for="Input.Login" placeholder="Логін" autocomplete="username"/>
                    <span asp-validation-for="Input.Login"></span>
                </div>
                <div class="form-group">
                    <label>Введіть електронну адресу</label>
                    <input asp-for="Input.Email" type="email" placeholder="Електронна адреса" autocomplete="email"/>
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="form-group">
                    <label>Введіть пароль</label>
                    <input asp-for="Input.Password" type="password" placeholder="Пароль" autocomplete="current-password"/>
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <div class="form-group">
                    <label>Підтвердіть пароль</label>
                    <input asp-for="Input.ConfirmPassword" type="password" placeholder="Підтвердіть пароль" autocomplete="off"/>
                    <span asp-validation-for="Input.ConfirmPassword"></span>
                </div>

                <div class="auth-button">
                    <button type="submit">Зареєструватися</button>
                </div>

                <div class="auth-links">
                    <a asp-page="/Account/Login">Уже маєте аккаунт? Увійдіть в нього.</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .content{
        background:none!important;
    }
</style>

@*<body>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let footer = document.querySelector('footer');
            footer.classList.add("pinned");
        });
    </script>
</body>*@