@using EdPlatform.Business.Models
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EdPlatform.App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">
                <img src="~/img/logo.svg" alt="logo" />
            </a>
            <div class="dropdown">
                <a class="title" href="#">
                    Каталог 
                    <img src="~/img/arrow-down.svg" />
                </a>

                <ul>
                    @if (ViewData["Categories"] != null)
                    {
                        foreach (var category in ViewData["Categories"] as IEnumerable<CategoryModel>)
                        {
                            <li><a href="#">@category.CategoryName</a></li>
                        }
                    }
                </ul>
            </div>

            <div class="searchbar-cover">
                <form method="get" id="search-form" asp-action="Search" asp-controller="Courses" class="searchbar">
                    <input name="searchRequest" type="search" placeholder="Знайти курс... "/>
                    <a onclick="document.getElementById('search-form').submit()">
                        <img src="~/img/find-icon.svg" />
                    </a>
                </form>
            </div>

            <div class="theme">
                <button id="theme-switcher" class="theme-switcher">
                    <img />
                </button>
            </div>

            <h2 class="language">UA</h2>

            <partial name="_LoginPartial"></partial>
        </nav>
    </header>
    
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="push"></div>
    </div>

    <footer id="footer">
        <div class="icons">
            <img src="~/img/telegram-icon.svg" />
            <img src="~/img/github-icon.svg" />
            <img src="~/img/linkedin-icon.svg" />
        </div>
        <div class="links">
            <a href="#">Terms of use</a>
            <a asp-action="Privacy" asp-controller="Home">Privacy</a>
        </div>
        <div class="trademark">
            <h2>&copy; 2022 - EdPlatform</h2>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/footer.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
