@if (User.Identity.IsAuthenticated)
{
    string? login = "";
    if (User.Claims.ToList().Count() != 0)
        login = User.FindFirst("Login").Value;
    
    @*<a asp-controller="Courses" asp-action="Create" style="margin-right: 0.5rem;">Create your course</a>*@
    <div class="user-login">
        <a>@login</a>
    </div>
}
else
{
    <div class="login-button">
        <a asp-page="/Account/Login">Увійти</a>
    </div>
}