@if (User.Identity.IsAuthenticated)
{
    string? login = "";
    if (User.Claims.ToList().Count() != 0)
        login = User.FindFirst("Login").Value;

    <div class="dropdown">
        <a asp-page="/Account/Manage/Index" class="title">@login</a>

        <ul style="right: -8px;">
           <li>
               <a asp-page="/Account/Logout">Logout</a>
           </li>
        </ul>
    </div>
}
else
{
    <div class="login-button">
        <a asp-page="/Account/Login">Увійти</a>
    </div>
}