@using EdPlatform.Business.Models
@model FillExerciseModel

<form asp-controller="Exercises" asp-action="FillExerciseEdit" method="post">
    <div>
        <label asp-for="ExerciseName"></label>
        <input asp-for="ExerciseName" type="text" placeholder="Exercise name" value="@Model.ExerciseName"/>
        <span asp-validation-for="ExerciseName"></span>
    </div>
    <div>
        <label asp-for="Problem"></label>
        <textarea asp-for="Problem" id="text-editor">@Model.Problem</textarea>
        <span asp-validation-for="Problem"></span>
    </div>
    <div>
        <label asp-for="Answer"></label>
        <input asp-for="Answer" type="text" placeholder="Enter the answer" value="@Model.Answer"/>
        <span asp-validation-for="Answer"></span>
    </div> 
    <div>
        <label asp-for="Order"></label>
        <input asp-for="Order" type="number" />
        <span asp-validation-for="Order"></span>
    </div>
    <input asp-for="LessonId" type="hidden" value="@Model.LessonId" />

    <button type="submit">Save changes</button>
</form>

<style>
    .pinned {
        position: inherit;
    }
</style>