@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

$background-color-dark: #18324A;
$text-color-dark: #FFFFFF;

$blue-1: #16212B;
$blue-2: #232F3A;
$blue-3: #2E3C49;
$blue-4: #415262;
$blue-5: #758899;

$light-blue-1: #2f4c67;
$light-blue-2: #3f668a;
$light-blue-3: #4E7DA8;
$light-blue-4: #7AA1C6;
$light-blue-5: #89b4dd;

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto Serif', serif;
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0;
}

html.dark {
    body {
        background-color: $background-color-dark;
        color: $text-color-dark;
        background-image: url('../img/background.svg');
    }

    header nav {
        background-color: $blue-3;

        .dropdown {
            .title {
                color: $text-color-dark;

                &:hover {
                    background-color: $blue-2;
                }
            }

            ul {
                background-color: #1e2831;

                li {
                    a {
                        color: $text-color-dark;

                        &:hover {
                            background-color: #293744;
                        }
                    }
                }
            }
        }

        .searchbar-cover {
            .searchbar {
                input {
                    background-color: $blue-2;
                    color: $blue-5;

                    &::placeholder {
                        color: $blue-5;
                    }
                }

                a {
                    background-color: $blue-2;
                }
            }
        }

        .theme {
            .theme-switcher {
                img {
                    content: url('../img/dark-mode-switch.svg');
                }
            }
        }

        .login-button {
            a {
                color: $text-color-dark;
            }
        }
    }

    .content {
        background-color: $blue-1;

        .hero {
            background-color: $blue-4;
        }

        .course-carousel {
            background-color: $blue-3;

            .carousel-popular {
                background-color: $blue-2;

                .course-plate {
                    background: $blue-4;
                }

                &::-webkit-scrollbar {
                    background-color: $blue-1;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $blue-4;
                }
            }
        }
    }

    footer {
        background-color: $blue-1;

        .links {
            a {
                color: $text-color-dark;

                &:hover {
                    background-color: $blue-2;
                }
            }
        }

        .trademark {
            h2 {
                color: $blue-4;
            }
        }
    }

    .title {
        .course {
            background-color: $blue-3;

            .info {
                .tag {
                    background-color: $blue-4;

                    a {
                        color: $text-color-dark;
                    }
                }
            }

            .join-button {
                background-color: $blue-5;

                &:hover {
                    background-color: #617281;
                }
            }
        }

        .description {
            background-color: $blue-2;
        }
    }

    .content-title {
        background-color: $blue-4;
    }

    .module {
        .title {
            background-color: $blue-3;
        }

        .lessons-list {
            background-color: $blue-2;
        }
    }
}

html.light {
    body {
        background-color: #FFFFFF;
        color: $text-color-dark;
        background-image: none;
    }

    header nav {
        background-color: $light-blue-3;

        .dropdown {
            .title {
                color: $text-color-dark;

                &:hover {
                    background-color: $light-blue-2;
                }
            }

            ul {
                background: #365775;

                li {
                    a {
                        color: $text-color-dark;

                        &:hover {
                            background-color: #2d4860;
                        }
                    }
                }
            }
        }

        .searchbar-cover {
            .searchbar {
                input {
                    background-color: $light-blue-2;
                    color: $light-blue-5;

                    &::placeholder {
                        color: $light-blue-5;
                    }
                }

                a {
                    background-color: $light-blue-2;
                }
            }
        }

        .theme {
            .theme-switcher {
                img {
                    content: url('../img/light-mode-switch.svg');
                }
            }
        }

        .login-button {
            a {
                color: $text-color-dark;
            }
        }
    }

    .content {
        background-color: $light-blue-1;

        .hero {
            background-color: $light-blue-4;
        }

        .course-carousel {
            background-color: $light-blue-3;

            .carousel-popular {
                background-color: $light-blue-2;

                .course-plate {
                    background: $light-blue-4;
                }

                &::-webkit-scrollbar {
                    background-color: $light-blue-1;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $light-blue-4;
                }
            }
        }
    }

    footer {
        background-color: $light-blue-1;

        .links {
            a {
                color: $text-color-dark;

                &:hover {
                    background-color: $light-blue-2;
                }
            }
        }

        .trademark {
            h2 {
                color: $light-blue-4;
            }
        }
    }

    .title {
        .course {
            background-color: $light-blue-3;

            .info {
                .tag {
                    background-color: $light-blue-4;

                    a {
                        color: $text-color-dark;
                    }
                }
            }

            .join-button {
                background-color: $light-blue-5;

                &:hover {
                    background-color: #7ca2c6;
                }
            }
        }

        .description {
            background-color: $light-blue-2;
        }
    }

    .content-title {
        background-color: $light-blue-4;
    }

    .module {
        .title {
            background-color: $light-blue-3;
        }

        .lessons-list {
            background-color: $light-blue-2;
        }
    }
}

header nav {
    height: 48px;
    display: flex;
    align-items: center;
    position: sticky;
    filter: drop-shadow(0.167rem 0px 0.167rem rgba(0, 0, 0, 0.25));

    .logo {
        height: 40px;

        img {
            height: 40px;
        }
    }

    .dropdown {
        .title {
            text-decoration: none;
            font-size: 20px;
            display: flex;
            padding: 0px 12px;
            align-items: center;
            margin: 0 0.5rem;
            height: 48px;

            img {
                margin: 0 0.3rem;
                content: url('../img/arrow-down.svg');
            }
        }

        ul {
            clear: both;
            overflow: hidden;
            transition: height .4s ease;
            display: none;
            position: absolute;
            list-style: none;
            padding: 8px;
            margin: 0 8px;

            li {
                padding: 8px 0;

                a {
                    text-decoration: none;
                    padding: 8px;
                }
            }
        }

        &:hover {
            ul {
                display: block;
            }
        }
    }

    .searchbar-cover {
        width: 100%;
        display: flex;
        justify-content: center;

        .searchbar {
            width: 30%;
            display: flex;

            input {
                border: none;
                width: 100%;
                border-radius: 26px 0 0 26px;
                height: 30px;
                padding-left: 15px;


                &:focus {
                    border: none;
                    outline: none;
                }
            }

            a {
                border-radius: 0 26px 26px 0;
                padding-right: 8px;
                display: flex;
                align-content: center;
                align-items: center;
            }
        }
    }

    .theme {
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 9px;


        .theme-switcher {
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    .language {
        font-size: 16px;
        cursor: pointer;
    }

    .login-button {
        display: flex;
        padding: 0 10px;
        width: 160px;
        justify-content: center;

        a {
            text-decoration: none;
            font-size: 20px;
        }
    }
}

.content {
    margin: 0px 180px;
    min-height: calc(100% - 48px);
    margin-bottom: -169px;

    .hero {
        text-align: center;

        h1 {
            font-size: 64px;
            padding: 25px 0;
        }

        h2 {
            padding-bottom: 15px;
        }
    }

    .course-carousel {
        h2 {
            padding: 12px;
        }

        .carousel-popular {
            display: flex;
            padding: 10px;
            overflow-x: auto;
            gap: 10px;

            .course-plate {
                padding: 10px;
                border-radius: 4px;
                flex-grow: 0;

                h2 {
                    font-size: 20px;
                }

                .image-cover {
                    width: 274px;
                    height: 166px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }

            &::-webkit-scrollbar {
                margin: 0 10px;
                height: 10px;
            }

            &::-webkit-scrollbar-thumb {
                height: 10px;
                border-radius: 4px;
            }
        }
    }
}

.push {
    height: 169px;
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;

    .icons {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;

        img {
            &:hover {
                cursor: pointer;
                filter: brightness(1.5);
            }
        }
    }

    .links {
        height: 43px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
            font-size: 20px;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
        }
    }

    .trademark {
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 20px;
        }
    }
}

.title {
    display: flex;

    .course {
        flex: 0 0 36%;
        display: flex;
        flex-direction: column;
        padding: 13px;

        .info {
            display: flex;
            align-items: center;
            height: auto;
            justify-content: flex-start;
            margin-bottom: 10px;

            .tag {
                border-radius: 12px;
                padding: 3px 16px;

                a {
                    text-decoration: none;
                }
            }

            h2 {
                font-size: 20px;
                margin: 0 10px;
            }
        }

        .status {
            color: #96A3AF;
            margin: 10px 0;
        }

        form {
            display: flex;
            justify-content: center;

            .join-button {
                align-self: center;
                border-radius: 6px;
                color: #FFFFFF;
                padding: 3px 16px;
                font-size: 20px;
                margin: 0 91px;
                text-decoration: none;
                border: none;
                cursor: pointer;
            }
        }

        img {
            width: 100%;
        }

        h2 {
            font-size: 24px;
            margin: 20px 0;
        }
    }

    .description {
        width: 100%;

        h2 {
            padding: 40px 26px 26px 26px;
            font-size: 20px;
            text-align: justify;
        }
    }
}

.content-title {
    height: 48px;
    text-align: center;
    line-height: 48px;

    h2 {
        font-weight: bold;
    }
}

.module {
    display: flex;
    flex-direction: column;

    .title {
        line-height: 48px;
        padding: 0 13px;
        height: 48px;
    }

    .lessons-list {
        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                height: 69px;

                a {
                    padding: 0 13px;
                }
            }
        }
    }
}
