@import url("https://fonts.googleapis.com/css?family=Jura");

$dark-blue: #0c0650;
$text-color: #ffffff;

html,
body {
    margin: 0;
}

body {
    font-family: "Jura";
    min-height: 100vh !important;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(172.41deg, #390faa 0%, #1e0859 29.27%, #191341 50.63%, #181146 76.67%, #14085f 100%);
}

.changed-background {
    background: linear-gradient(172.41deg, #3d10b8 0%, #120635 29.53%, #1d1b2d 51.35%, #110270 91.2%);
}

header nav {
    height: 48px;
    display: flex;
    align-items: center;
    position: sticky;
    padding: 0 36px 0 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: $text-color;
    background-color: $dark-blue;

    .logo {
        height: 40px;

        img {
            height: 40px;
        }
    }

    .dropdown {
        .title {
            text-decoration: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            margin: 0 1.5rem;
            height: 48px;

            color: $text-color;

            img {
                margin: 0 0.3rem;
                content: url("../img/arrow-down.svg");
            }
        }

        ul {
            clear: both;
            overflow: hidden;
            transition: height 0.4s ease;
            display: none;
            position: absolute;
            list-style: none;
            margin: 0 1.5rem;
            padding: 0;

            li {
                padding: 8px 0;

                background-color: #b76698;

                a {
                    text-decoration: none;
                    padding: 8px 16px;

                    color: $text-color;
                }

                &:hover {
                    background-color: #9c5581;
                }
            }
        }

        &:hover {
            ul {
                display: block;
            }
        }
    }

    .searchbar-cover {
        width: 100%;
        display: flex;
        justify-content: center;

        .searchbar {
            align-items: center;
            display: flex;
            width: 40%;

            input {
                border: none;
                height: 28px;
                width: 100%;
                border-radius: 26px 0 0 26px;
                padding: 12px;

                background-color: #10063a;

                &::placeholder {
                    color: #758899;
                }

                &:focus {
                    outline: none;
                    color: $text-color;
                }
            }

            a {
                background-color: #10063a;
                height: 28px;
                border-radius: 0 26px 26px 0;
                padding-right: 8px;
                display: flex;
                align-items: center;

                cursor: pointer;
            }
        }
    }

    .theme {
        .theme-switcher {
            background: none;
            border: none;
            cursor: pointer;

            img {
                content: url("../img/dark-mode-switch.svg");
            }
        }
    }

    .language {
        margin: 0;
        font-size: 16px;
        font-weight: 300;

        cursor: pointer;
    }

    .login-button {
        padding-left: 64px;
        padding-right: 32px;

        a {
            color: $text-color;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

.content {
    .hero {
        display: flex;
        width: 75%;
        margin: auto;
        margin-top: 5%;
        align-items: center;

        color: $text-color;

        .title {
            h1 {
                font-size: 48px;
                font-weight: bold;
                margin: 0;
                margin-right: 2rem;
            }

            h2 {
                font-size: 36px;
                font-weight: 500;
                margin-right: 2rem;

                span {
                    color: #b76698;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-right: 2rem;

            a {
                text-decoration: none;
                color: #ffffff;
                border: none;
                font-size: 24px;
                padding: 8px 32px;
            }

            .go {
                background: linear-gradient(90deg, #6e23da 44.39%, rgba(110, 35, 218, 0) 100%);
            }

            .create {
                background: linear-gradient(90deg, #b76698 40.73%, rgba(183, 102, 152, 0) 100%);
            }
        }

        img {
            filter: drop-shadow(17px 11px 12px rgba(253, 253, 253, 0.12));
            height: 50%;
            width: auto;
        }
    }

    .course-carousel {
        width: 65%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;

        h2 {
            color: $text-color;
            font-size: 32px;
        }

        .course-sort {
            .cover {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: white;
                    font-weight: 500;
                    border-bottom: 4px #b76698 solid;
                    width: fit-content;
                    margin: 0;
                    top: 4px;
                    position: relative;
                }

                button {
                    background: none;
                    border: none;
                }
            }

            .line {
                border: 2px solid rgba(56, 121, 182, 0.28);
                margin: 0;
            }
        }

        .carousel-popular {
            .course-plate {
                background: white;
                display: flex;
                border-left: 11px solid #c65098;
                align-items: center;
                margin: 32px 0;
                box-shadow: 11px 8px 13px 1px rgb(255 255 255 / 25%);

                .image-cover {
                    width: fit-content;

                    img {
                        width: 200px;
                        padding: 16px;
                    }
                }

                h2 {
                    width: auto;
                    font-size: 24px;
                    color: black;
                    font-weight: 500;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

    .auth-cover {
        width: 25%;
        margin: auto;
        margin-top: 5%;

        .auth {
            .auth-form {
                .auth-title {
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 17px 11px 12px rgb(253 253 253 / 8%);
                    color: white;
                    text-align: center;
                    padding: 16px;

                    h2 {
                        margin: 0;
                    }
                }

                form {
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 17px 11px 12px rgb(253 253 253 / 8%);
                    filter: drop-shadow(17px 11px 12px rgba(253, 253, 253, 0.08));
                    margin-top: 5%;
                    color: white;
                    padding: 16px 32px;

                    .form-group {
                        display: flex;
                        flex-direction: column;
                        padding: 8px 0;

                        label {
                            font-size: 16px;
                            padding-bottom: 3px;
                        }

                        input {
                            border-radius: 26px;
                            border: none;
                            padding: 4px;
                        }

                        a {
                            text-decoration: none;
                            color: #758899;
                        }
                    }

                    .auth-button {
                        display: flex;
                        justify-content: center;

                        button {
                            background: linear-gradient(90deg, #6e23da 50%, rgba(110, 35, 218, 0) 100%);
                            border: none;
                            color: white;
                            padding: 6px;
                            width: 65%;
                            font-size: 20px;
                            cursor: pointer;
                        }
                    }

                    .auth-links {
                        a {
                            color: #758899;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .title {
        width: 75%;
        margin: auto;
        margin-top: 5%;

        .info {
            display: flex;
            align-items: center;
            margin: 16px 0;

            .tag {
                background: linear-gradient(90deg, #6e23da 0%, rgba(218, 206, 234, 0) 113.21%);
                padding: 5px 16px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

            h2 {
                font-size: 20px;
                color: white;
                font-weight: 500;
                margin: 0 16px;
            }
        }

        .course {
            display: flex;
            background: rgba(255, 255, 255, 0.06);
            box-shadow: 11px 8px 20px 1px rgb(255 255 255 / 14%);
            color: white;

            .sector {
                padding: 32px;

                h2 {
                    font-size: 40px;
                    margin: 0;
                }

                .short-description {
                    font-size: 20px;
                    font-weight: 400;
                    margin: 32px 0;
                }

                img {
                    width: 350px;
                }

                .status {
                    color: #96a3af;
                }
            }
        }

        .description-cover {
            display: flex;
            margin: 32px 0;

            .description {
                width: 75%;

                h2 {
                    color: white;
                    font-size: 32px;
                }

                span {
                    white-space: pre-wrap;
                    font-size: 20px;
                    color: white;
                    font-weight: 500;
                }
            }

            .comments-cover {
                background: rgba(255, 255, 255, 0.06);
                box-shadow: 11px 8px 20px 1px rgb(255 255 255 / 14%);
                width: 35%;
                height: 75%;

                .comment-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 8px 0;

                    a {
                        background: linear-gradient(90deg, #6e23da 0%, rgba(218, 206, 234, 0) 113.21%);
                        color: white;
                        padding: 4px 16px;
                    }

                    h2 {
                        color: white;
                        font-size: 20px;
                        font-weight: 500;

                        margin: 0 16px;
                    }
                }
            }
        }
    }

    .table-of-contents {
        margin-bottom: 5%;

        .create-module-cover {
            width: 75%;
            margin: auto;

            a {
                background: linear-gradient(90deg, rgba(183, 102, 152, 0.8) 44.39%, rgba(110, 35, 218, 0) 100%);
                font-size: 24px;
                color: white;
                text-decoration: none;
                padding: 8px 16px;
            }
        }

        .module {
            width: 75%;
            margin: auto;

            .module-title {
                background: rgb(255 255 255 / 2%);
                box-shadow: 1px 8px 13px 1px rgb(255 255 255 / 8%);
                display: flex;
                align-items: center;
                justify-content: space-between;

                h2 {
                    color: white;
                    margin: 0;
                    font-weight: 500;
                    font-size: 24px;
                    padding: 8px 16px;
                }

                .edit-link {
                    font-weight: 500;
                    font-size: 24px;
                    text-decoration: none;
                    color: #6e23da;
                    margin: 0 16px;
                }
            }

            .lessons-list {
                background: rgba(255, 255, 255, 0.04);

                ul {
                    list-style-type: none;
                    padding: 8px 48px;

                    li {
                        display: flex;
                        align-items: center;

                        a {
                            text-decoration: none;
                            font-size: 20px;
                            color: white;
                            margin: 0 16px;
                        }
                    }
                }
            }
        }
    }

    .create-form {
        width: 75%;
        margin: auto;
        background: rgba(255, 255, 255, 0.06);
        box-shadow: 11px 8px 20px 1px rgb(255 255 255 / 14%);
        margin-top: 3%;
        margin-bottom: 3%;

        .form-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-weight: 700;
                font-size: 40px;
                margin: 0;
                color: white;
                margin: 16px 0;
            }

            .line {
                height: 3px;
                background-color: rgba(255, 255, 255, 0.26);
                box-shadow: 0px 4px 5px rgb(255 255 255 / 25%);
                width: 100%;
            }
        }

        .form-body {
            padding: 16px 64px;

            .file {
                div {
                    font-size: 16px;
                    color: white;
                    padding: 8px 0;
                }

                label {
                    border-left: 5px solid #c65098 !important;
                    padding: 8px 16px !important;
                    background-color: #ffffff !important;
                    color: rgba(1, 6, 11, 0.34) !important;
                    line-height: 15px !important;
                    width: 40%;
                }

                input {
                    display: none;
                }
            }

            .checkbox {
                label {
                    font-size: 16px;
                    color: white;
                    padding: 8px 0;
                }
            }

            .form-group {
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    font-size: 16px;
                    color: white;
                    padding: 8px 0;
                }

                input {
                    outline: none;
                    border: none;
                    border-left: 5px solid #c65098;
                    padding: 8px 16px;
                    width: 40%;

                    &::placeholder {
                        color: rgba(1, 6, 11, 0.34);
                    }
                }

                select {
                    outline: none;
                    border: none;
                    border-left: 5px solid #c65098;
                    padding: 8px 16px;
                    color: rgba(1, 6, 11, 0.34);
                    width: 40%;
                }

                .tox {
                    outline: none;
                    border: none;
                    border-left: 5px solid #c65098;
                    height: 300px !important;
                }
            }
        }

        .edit-form-body {
            .file {
                label {
                    border-left: 5px solid #6e23da !important;
                }
            }

            .form-group {
                input {
                    border-left: 5px solid #6e23da !important;
                }
            }

            .form-footer {
                button {
                    background: linear-gradient(90deg, #6e23da 50%, rgba(110, 35, 218, 0) 100%);
                }
            }

            select{
                border-left: 5px solid #6e23da !important;
            }

            .tox{
                border-left: 5px solid #6e23da !important;
            }
        }

        .form-footer {
            display: flex;
            justify-content: center;
            margin: 16px 0;

            button {
                background: linear-gradient(90deg, rgba(183, 102, 152, 0.8) 44.39%, rgba(110, 35, 218, 0) 100%);
                border: none;
                color: white;
                font-weight: 500;
                font-size: 24px;
                padding: 8px 16px;
                width: 250px;

                cursor: pointer;
            }
        }
    }
}

footer {
    background-color: #0c0650;
    border-top: 5px solid #ffffff;

    .icons {
        display: flex;
        justify-content: center;
        padding: 8px 0;

        img {
            padding: 0 16px;

            &:hover {
                cursor: pointer;
                filter: brightness(1.5);
            }
        }
    }

    .links {
        display: flex;
        justify-content: center;
        padding: 8px 0;

        a {
            color: $text-color;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            padding: 0 16px;

            &:hover {
                color: #c9aaaa;
            }
        }
    }

    .trademark {
        display: flex;
        justify-content: center;
        padding: 8px 0;

        h2 {
            margin: 0;
            font-size: 20px;
            color: #415262;
        }
    }
}

.pinned {
    position: fixed;
    bottom: 0;
    width: 100%;
}

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

//$background-color-dark: #18324A;
//$text-color-dark: #FFFFFF;

//$blue-1: #16212B;
//$blue-2: #232F3A;
//$blue-3: #2E3C49;
//$blue-4: #415262;
//$blue-5: #758899;
//$blue-6: #96A3AF;

//$light-blue-1: #2f4c67;
//$light-blue-2: #3f668a;
//$light-blue-3: #4E7DA8;
//$light-blue-4: #7AA1C6;
//$light-blue-5: #89b4dd;
//$light-blue-6: #a1cdf7;

//html, body {
//    height: 100%;
//    margin: 0;
//}

//body {
//    font-family: 'Roboto Serif', serif;
//}

//h1, h2, h3 {
//    font-weight: 400;
//    margin: 0;
//}

//@media(prefers-color-scheme: dark) {

//    html.dark {
//        body {
//            background-color: $background-color-dark;
//            color: $text-color-dark;
//            background-image: url('../img/background.svg');
//        }

//        header nav {
//            background-color: $blue-3;

//            .dropdown {
//                .title {
//                    color: $text-color-dark;

//                    &:hover {
//                        background-color: $blue-2;
//                    }
//                }

//                ul {
//                    background-color: #1e2831;

//                    li {
//                        a {
//                            color: $text-color-dark;

//                            &:hover {
//                                background-color: #293744;
//                            }
//                        }
//                    }
//                }
//            }

//            .searchbar-cover {
//                .searchbar {
//                    input {
//                        background-color: $blue-2;
//                        color: $blue-5;

//                        &::placeholder {
//                            color: $blue-5;
//                        }
//                    }

//                    a {
//                        background-color: $blue-2;
//                    }
//                }
//            }

//            .theme {
//                .theme-switcher {
//                    img {
//                        content: url('../img/dark-mode-switch.svg');
//                    }
//                }
//            }

//            .login-button {
//                a {
//                    color: $text-color-dark;
//                }
//            }
//        }

//        .content {
//            background-color: $blue-1;

//            .hero {
//                background-color: $blue-4;
//            }

//            .course-carousel {
//                background-color: $blue-3;

//                .carousel-popular {
//                    background-color: $blue-2;

//                    .course-plate {
//                        background: $blue-4;

//                        h2 {
//                            a {
//                                color: $text-color-dark;
//                            }
//                        }
//                    }

//                    &::-webkit-scrollbar {
//                        background-color: $blue-1;
//                    }

//                    &::-webkit-scrollbar-thumb {
//                        background-color: $blue-4;
//                    }
//                }
//            }
//        }

//        footer {
//            background-color: $blue-1;

//            .links {
//                a {
//                    color: $text-color-dark;

//                    &:hover {
//                        background-color: $blue-2;
//                    }
//                }
//            }

//            .trademark {
//                h2 {
//                    color: $blue-4;
//                }
//            }
//        }

//        .title {
//            .course {
//                background-color: $blue-3;

//                .info {
//                    .tag {
//                        background-color: $blue-4;

//                        a {
//                            color: $text-color-dark;
//                        }
//                    }
//                }

//                .join-button {
//                    background-color: $blue-5;

//                    &:hover {
//                        background-color: #617281;
//                    }
//                }
//            }

//            .description {
//                background-color: $blue-2;
//            }
//        }

//        .content-title {
//            background-color: $blue-4;
//        }

//        .module {
//            .title {
//                background-color: $blue-3;
//            }

//            .lessons-list {
//                background-color: $blue-2;
//            }
//        }

//        .auth-cover {
//            .auth {
//                background-color: $blue-2;

//                .logo-control {
//                    background-color: $blue-3;
//                }

//                .auth-form {
//                    form {
//                        .form-group {
//                            input {
//                                background-color: $blue-3;
//                                color: $blue-5;

//                                &::placeholder {
//                                    color: $blue-5;
//                                }

//                                &:focus {
//                                    color: $blue-5;
//                                }

//                                &:-webkit-autofill {
//                                    background-color: $blue-3;
//                                }
//                            }

//                            a {
//                                color: $blue-5;
//                            }
//                        }

//                        .auth-button {
//                            button {
//                                background-color: $blue-5;
//                                color: $text-color-dark;

//                                &:hover {
//                                    background-color: $blue-4;
//                                }
//                            }
//                        }
//                    }

//                    .auth-links {
//                        a {
//                            color: $blue-5;
//                        }
//                    }
//                }
//            }
//        }

//        .details-page {
//            .navigation-panel {
//                background-color: $blue-1;

//                .name {
//                    a {
//                        color: $blue-6;
//                    }

//                    &:hover {
//                        background-color: $blue-3;
//                    }
//                }
//            }

//            .page-content {
//                .title {
//                    color: $blue-6;
//                }

//                .lecture {
//                    color: $blue-5;
//                }

//                .code {
//                    background-color: $blue-3;

//                    info {
//                        h2 {
//                            color: $blue-6;
//                        }
//                    }

//                    form {
//                        .code-buttons {
//                            background-color: $blue-3;

//                            button {
//                                color: $blue-6;
//                            }

//                            .send {
//                                background-color: $blue-4;

//                                &:hover {
//                                    background-color: #28343e;
//                                }
//                            }

//                            .run {
//                                background-color: $blue-1;

//                                &:hover {
//                                    background-color: $blue-2;
//                                }
//                            }
//                        }
//                    }
//                }

//                .buttons {
//                    a {
//                        background-color: $blue-5;
//                        color: $text-color-dark;

//                        &:hover {
//                            background-color: $blue-4;
//                        }
//                    }
//                }
//            }
//        }
//    }
//}
//html.light {
//    body {
//        background-color: #FFFFFF;
//        color: $text-color-dark;
//        background-image: none;
//    }

//    header nav {
//        background-color: $light-blue-3;

//        .dropdown {
//            .title {
//                color: $text-color-dark;

//                &:hover {
//                    background-color: $light-blue-2;
//                }
//            }

//            ul {
//                background: #365775;

//                li {
//                    a {
//                        color: $text-color-dark;

//                        &:hover {
//                            background-color: #2d4860;
//                        }
//                    }
//                }
//            }
//        }

//        .searchbar-cover {
//            .searchbar {
//                input {
//                    background-color: $light-blue-2;
//                    color: $light-blue-5;

//                    &::placeholder {
//                        color: $light-blue-5;
//                    }
//                }

//                a {
//                    background-color: $light-blue-2;
//                }
//            }
//        }

//        .theme {
//            .theme-switcher {
//                img {
//                    content: url('../img/light-mode-switch.svg');
//                }
//            }
//        }

//        .login-button {
//            a {
//                color: $text-color-dark;
//            }
//        }
//    }

//    .content {
//        background-color: $light-blue-1;

//        .hero {
//            background-color: $light-blue-4;
//        }

//        .course-carousel {
//            background-color: $light-blue-3;

//            .carousel-popular {
//                background-color: $light-blue-2;

//                .course-plate {
//                    background: $light-blue-4;

//                    h2 {
//                        a {
//                            color: $text-color-dark;
//                        }
//                    }
//                }

//                &::-webkit-scrollbar {
//                    background-color: $light-blue-1;
//                }

//                &::-webkit-scrollbar-thumb {
//                    background-color: $light-blue-4;
//                }
//            }
//        }
//    }

//    footer {
//        background-color: $light-blue-1;

//        .links {
//            a {
//                color: $text-color-dark;

//                &:hover {
//                    background-color: $light-blue-2;
//                }
//            }
//        }

//        .trademark {
//            h2 {
//                color: $light-blue-4;
//            }
//        }
//    }

//    .title {
//        .course {
//            background-color: $light-blue-3;

//            .info {
//                .tag {
//                    background-color: $light-blue-4;

//                    a {
//                        color: $text-color-dark;
//                    }
//                }
//            }

//            .join-button {
//                background-color: $light-blue-5;

//                &:hover {
//                    background-color: #7ca2c6;
//                }
//            }
//        }

//        .description {
//            background-color: $light-blue-2;
//        }
//    }

//    .content-title {
//        background-color: $light-blue-4;
//    }

//    .module {
//        .title {
//            background-color: $light-blue-3;
//        }

//        .lessons-list {
//            background-color: $light-blue-2;
//        }
//    }

//    .auth-cover {
//        .auth {
//            background-color: $light-blue-2;

//            .logo-control {
//                background-color: $light-blue-3;
//            }

//            .auth-form {
//                form {
//                    .form-group {
//                        input {
//                            background-color: $light-blue-3;
//                            color: $light-blue-5;

//                            &::placeholder {
//                                color: $light-blue-5;
//                            }

//                            &:focus {
//                                color: $light-blue-5;
//                            }

//                            &:-webkit-autofill {
//                                background-color: $light-blue-3;
//                            }
//                        }

//                        a {
//                            color: $light-blue-5;
//                        }
//                    }

//                    .auth-button {
//                        button {
//                            background-color: $light-blue-5;
//                            color: $text-color-dark;

//                            &:hover {
//                                background-color: $light-blue-4;
//                            }
//                        }
//                    }
//                }

//                .auth-links {
//                    a {
//                        color: $light-blue-5;
//                    }
//                }
//            }
//        }
//    }

//    .details-page {
//        .navigation-panel {
//            background-color: $light-blue-1;

//            .name {
//                a {
//                    color: $light-blue-6;
//                }

//                &:hover {
//                    background-color: $light-blue-3;
//                }
//            }
//        }

//        .page-content {
//            .title {
//                color: $light-blue-6;
//            }

//            .lecture {
//                color: $light-blue-5;
//            }

//            .code {
//                background-color: $light-blue-3;

//                info {
//                    h2 {
//                        color: $light-blue-6;
//                    }
//                }

//                form {
//                    .code-buttons {
//                        background-color: $light-blue-3;

//                        button {
//                            color: $light-blue-6;
//                        }

//                        .send {
//                            background-color: $light-blue-4;

//                            &:hover {
//                                background-color: #6a8caa;
//                            }
//                        }

//                        .run {
//                            background-color: $light-blue-1;

//                            &:hover {
//                                background-color: $light-blue-2;
//                            }
//                        }
//                    }
//                }
//            }

//            .buttons {
//                a {
//                    background-color: $light-blue-5;
//                    color: $text-color-dark;

//                    &:hover {
//                        background-color: $light-blue-4;
//                    }
//                }
//            }
//        }
//    }
//}

//header nav {
//    height: 48px;
//    display: flex;
//    align-items: center;
//    position: sticky;
//    filter: drop-shadow(0.167rem 0px 0.167rem rgba(0, 0, 0, 0.25));

//    .logo {
//        height: 40px;

//        img {
//            height: 40px;
//        }
//    }

//    .dropdown {
//        .title {
//            text-decoration: none;
//            font-size: 20px;
//            display: flex;
//            padding: 0px 12px;
//            align-items: center;
//            margin: 0 0.5rem;
//            height: 48px;

//            img {
//                margin: 0 0.3rem;
//                content: url('../img/arrow-down.svg');
//            }
//        }

//        ul {
//            clear: both;
//            overflow: hidden;
//            transition: height .4s ease;
//            display: none;
//            position: absolute;
//            list-style: none;
//            padding: 8px;
//            margin: 0 8px;

//            li {
//                padding: 8px 0;

//                a {
//                    text-decoration: none;
//                    padding: 8px;
//                }
//            }
//        }

//        &:hover {
//            ul {
//                display: block;
//            }
//        }
//    }

//    .searchbar-cover {
//        width: 100%;
//        display: flex;
//        justify-content: center;

//        .searchbar {
//            width: 30%;
//            display: flex;

//            input {
//                border: none;
//                width: 100%;
//                border-radius: 26px 0 0 26px;
//                height: 30px;
//                padding-left: 15px;

//                &:focus {
//                    border: none;
//                    outline: none;
//                }
//            }

//            a {
//                border-radius: 0 26px 26px 0;
//                padding-right: 8px;
//                display: flex;
//                align-content: center;
//                align-items: center;
//            }
//        }
//    }

//    .theme {
//        display: flex;
//        align-items: center;
//        align-content: center;
//        padding: 0 9px;

//        .theme-switcher {
//            padding: 0;
//            border: none;
//            background: none;
//            cursor: pointer;
//        }
//    }

//    .language {
//        font-size: 16px;
//        cursor: pointer;
//    }

//    .login-button {
//        display: flex;
//        padding: 0 10px;
//        width: 160px;
//        justify-content: center;

//        a {
//            text-decoration: none;
//            font-size: 20px;
//        }
//    }

//    .user-login {
//        display: flex;
//        padding: 0 10px;
//        width: 160px;
//        justify-content: center;

//        a {
//            text-decoration: none;
//            font-size: 20px;
//        }
//    }
//}

//.content {
//    margin: 0px 180px;
//    min-height: calc(100% - 48px);
//    margin-bottom: -169px;

//    .hero {
//        text-align: center;

//        h1 {
//            font-size: 64px;
//            padding: 25px 0;
//        }

//        h2 {
//            padding-bottom: 15px;
//        }
//    }

//    .course-carousel {
//        h2 {
//            padding: 12px;
//        }

//        .carousel-popular {
//            display: flex;
//            padding: 10px;
//            overflow-x: auto;
//            gap: 10px;

//            .course-plate {
//                padding: 10px;
//                border-radius: 4px;
//                flex-grow: 0;

//                h2 {
//                    font-size: 20px;

//                    a {
//                        text-decoration: none;
//                    }
//                }

//                .image-cover {
//                    width: 274px;
//                    height: 166px;
//                    overflow: hidden;

//                    img {
//                        width: 100%;
//                        height: 100%;
//                        object-fit: cover;
//                        border-radius: 4px;
//                    }
//                }
//            }

//            &::-webkit-scrollbar {
//                margin: 0 10px;
//                height: 10px;
//            }

//            &::-webkit-scrollbar-thumb {
//                height: 10px;
//                border-radius: 4px;
//            }
//        }
//    }
//}

//.push {
//    height: 169px;
//}

//footer {
//    display: flex;
//    flex-direction: column;
//    bottom: 0;
//    width: 100%;

//    .icons {
//        height: 80px;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 100%;
//        gap: 50px;

//        img {
//            &:hover {
//                cursor: pointer;
//                filter: brightness(1.5);
//            }
//        }
//    }

//    .links {
//        height: 43px;
//        display: flex;
//        width: 100%;
//        align-items: center;
//        justify-content: center;
//        gap: 20px;

//        a {
//            font-size: 20px;
//            text-decoration: none;
//            padding: 10px;
//            border-radius: 10px;
//        }
//    }

//    .trademark {
//        height: 46px;
//        display: flex;
//        justify-content: center;
//        align-items: center;

//        h2 {
//            font-size: 20px;
//        }
//    }
//}

//.title {
//    display: flex;

//    .course {
//        flex: 0 0 36%;
//        display: flex;
//        flex-direction: column;
//        padding: 13px;

//        .info {
//            display: flex;
//            align-items: center;
//            height: auto;
//            justify-content: flex-start;
//            margin-bottom: 10px;

//            .tag {
//                border-radius: 12px;
//                padding: 3px 16px;

//                a {
//                    text-decoration: none;
//                }
//            }

//            h2 {
//                font-size: 20px;
//                margin: 0 10px;
//            }
//        }

//        .status {
//            color: #96A3AF;
//            margin: 10px 0;
//        }

//        form {
//            display: flex;
//            justify-content: center;

//            .join-button {
//                align-self: center;
//                border-radius: 6px;
//                color: #FFFFFF;
//                padding: 3px 16px;
//                font-size: 20px;
//                margin: 0 91px;
//                text-decoration: none;
//                border: none;
//                cursor: pointer;
//            }
//        }

//        img {
//            width: 100%;
//        }

//        h2 {
//            font-size: 24px;
//            margin: 20px 0;
//        }
//    }

//    .description {
//        width: 100%;

//        h2 {
//            padding: 40px 26px 26px 26px;
//            font-size: 20px;
//            text-align: justify;
//        }
//    }
//}

//.content-title {
//    height: 48px;
//    text-align: center;
//    line-height: 48px;

//    h2 {
//        font-weight: bold;
//    }
//}

//.module {
//    display: flex;
//    flex-direction: column;

//    .title {
//        line-height: 48px;
//        padding: 0 13px;
//        height: 48px;
//    }

//    .lessons-list {
//        ul {
//            list-style: none;

//            li {
//                display: flex;
//                align-items: center;
//                height: 69px;

//                a {
//                    padding: 0 13px;
//                }
//            }
//        }
//    }
//}

//.auth-cover {
//    display: flex;
//    justify-content: center;

//    .auth {
//        margin-top: 64px;
//        width: 460px;

//        .logo-control {
//            display: flex;
//            align-items: center;
//            padding: 8px 12px;

//            img {
//                height: 26px;
//            }

//            h2 {
//                font-size: 16px;
//            }
//        }

//        .auth-form {
//            padding: 12px 16px;

//            .auth-title {
//                text-align: center;

//                h2 {
//                    font-weight: bold;
//                    font-size: 20px;
//                }
//            }

//            form {

//                .form-group {
//                    display: flex;
//                    flex-direction: column;
//                    padding-top: 16px;

//                    label {
//                        font-size: 16px;
//                        font-weight: bold;
//                    }

//                    input {
//                        border: none;
//                        border-radius: 26px;
//                        height: 30px;
//                        padding-left: 15px;
//                        font-size: 16px;

//                        &:focus {
//                            outline: none;
//                        }
//                    }

//                    span {
//                        font-size: 14px;
//                        color: crimson;
//                        padding: 6px 0px 0px 15px;
//                    }

//                    a {
//                        font-size: 14px;
//                        padding: 6px 0px 0px 15px;
//                        text-decoration: none;
//                    }
//                }

//                .auth-button {
//                    padding-top: 16px;
//                    display: flex;
//                    justify-content: center;

//                    button {
//                        width: 45%;
//                        border: none;
//                        font-size: 18px;
//                        border-radius: 6px;
//                        padding: 4px 8px;

//                        &:hover {
//                            cursor: pointer;
//                        }
//                    }
//                }
//            }

//            .auth-links {
//                text-align: center;

//                a {
//                    font-size: 14px;
//                    text-decoration: none;
//                }
//            }
//        }
//    }
//}

//.details-page {
//    .navigation-panel {
//        display: flex;

//        .name {
//            display: flex;
//            width: 15%;
//            justify-content: center;
//            align-items: center;

//            a {
//                font-size: 20px;
//                font-weight: bold;
//                text-align: center;
//                text-decoration: none;
//            }

//            &:hover {
//                cursor: pointer;
//            }
//        }

//        ul {
//            display: flex;
//            align-items: center;
//            list-style-type: none;
//            margin: 0;
//            padding: 0;
//            overflow: hidden;
//            padding: 6px 0;

//            li {
//                float: left;

//                img {
//                    display: block;
//                }
//            }
//        }
//    }

//    .page-content {
//        padding: 0 36px;

//        .title {
//            display: flex;
//            justify-content: center;
//            margin: 16px 0;

//            h2 {
//                font-weight: bold;
//                font-size: 36px;
//            }
//        }

//        .lecture {
//            font-size: 20px;
//            line-height: 30px;
//            text-align: justify;
//        }

//        .code {
//            margin: 16px 0;

//            .info {
//                padding: 8px 16px;

//                h2 {
//                    font-size: 16px;
//                    padding: 3px 0;
//                }
//            }

//            form {
//                .code-buttons {
//                    display: flex;
//                    justify-content: space-between;
//                    padding: 8px 16px;

//                    button {
//                        border: none;
//                        border-radius: 6px;
//                        padding: 8px 16px;
//                        font-size: 20px;

//                        &:hover {
//                            cursor: pointer;
//                        }
//                    }
//                }
//            }
//        }

//        .buttons {
//            display: flex;
//            justify-content: flex-end;

//            a {
//                font-size: 20px;
//                border-radius: 6px;
//                border: none;
//                padding: 6px 12px;
//                margin: 16px 0;
//                text-decoration: none;

//                &:hover {
//                    cursor: pointer;
//                }
//            }
//        }
//    }
//}
