@using EdPlatform.Business.Models
@model LessonModel

<form class="create-form" asp-controller="Lessons" asp-action="Create" method="post">
    <div class="form-title">
        <h2>Добавте урок</h2>
        <div class="line"></div>
    </div>

    <div class="form-body">
        <div class="form-group">
            <label asp-for="LessonName"></label>
            <input class="input" asp-for="LessonName" type="text" class="form-control" placeholder="Enter lesson name" />
            <span asp-validation-for="LessonName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LessonContent"></label>
            <textarea asp-for="LessonContent" id="text-editor" placeholder="Lesson content part"></textarea>
            <span asp-validation-for="LessonContent"></span>
        </div>
        <div class="form-group">
            <label asp-for="VideoUrl">(optional)</label>
            <input class="input" asp-for="VideoUrl" type="url" class="form-control"
                placeholder="Paste video url which will be embedded to the lesson" />
        </div>
        <div class="form-group">
            <label asp-for="Order"></label>
            <input class="input" style="width: 4%;" asp-for="Order" type="number" class="form-control" />
            <span asp-validation-for="Order"></span>
        </div>
        <input class="input" asp-for="ModuleId" type="hidden" value="@ViewBag.ModuleId" />


        <div class="form-footer">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
</form>

<style>
    .pinned {
        position: inherit;
    }
</style>