<div class="course-carousel">
    @foreach (var course in ViewBag.SearchResults)
    {
         <div class="course-plate">
            <div class="course-plate-title">
                <div class="image-cover">
                    <img src="@("https://ed-platform.s3.amazonaws.com/"+course.ImageName)" />
                </div>
                <h2>
                    <a asp-controller="Courses" asp-action="Details" asp-route-courseId="@course.CourseId" class="card-title">@course.CourseName</a>
                </h2>
            </div>  
        </div>
    }
</div>
