@using EdPlatform.Business.Models
@model CaseModel

<form method="post" asp-action="Create">
    <div>
        <label asp-for="CaseName"></label>
        <input asp-for="CaseName" type="text" placeholder="Введіть варіант відповіді"/>
        <span asp-validation-for="CaseName"></span>
    </div>
    <div>
        <label asp-for="IsCorrect"></label>
        <input asp-for="IsCorrect" type="checkbox"/>
        <span asp-validation-for="IsCorrect"></span>
    </div>
    <input type="hidden" asp-for="QuizExerciseId" value="@ViewBag.ExerciseId"/>

    <button type="submit">Створити</button>
</form>