@page
@using EdPlatform.Business.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EdPlatform.App.Pages.Account.Manage.IndexModel

@{
    Layout = "_Layout";
}

<form class="create-form" method="post">
    <div class="form-title">
        <h2>Інформація про ваш профіль</h2>
        <div class="line"></div>
    </div>

    <div class="form-body edit-form-body">
        <div class="form-group">
            <label asp-for="Input.Login"></label>
            <input class="input" asp-for="Input.Login" type="text" value="@((ViewData["UserData"] as UserModel).Login)" />
            <span asp-validation-for="Input.Login"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input class="input" type="text" disabled value="@((ViewData["UserData"] as UserModel).Email)" />
        </div>
        <input class="input" asp-for="Input.UserId" type="hidden" value="@((ViewData["UserData"] as UserModel).UserId)" />
        <input class="input" asp-for="Input.Email" type="hidden" value="@((ViewData["UserData"] as UserModel).Email)" />

        <div class="form-footer">
            <button type="submit">Зберегти зміни</button>
        </div>
    </div>

</form>

<div class="table-of-contents">
    <div class="create-module-cover">
        <a asp-controller="Courses" asp-action="JoinedCourses">Моє навчання</a>
        <a asp-controller="Courses" asp-action="MyCourses">Мої курси</a>
        <a asp-controller="Comments" asp-action="All">Мої коментарі</a>
    </div>
</div>
