@using EdPlatform.Business.Models
@model IOCaseModel

<form asp-controller="IOCases" asp-action="Edit" method="post">
    <div>
        <label asp-for="InputData"></label>
        <input class="input" asp-for="InputData" type="text" placeholder="Input data" value="@Model.InputData" />
        <span asp-validation-for="InputData"></span>
    </div>
    <div>
        <label asp-for="OutputData"></label>
        <input class ="input" asp-for="OutputData" type="text" placeholder="Output data" value="@Model.OutputData" />
        <span asp-validation-for="OutputData"></span>
    </div>
    <input class="input" asp-for="IOCaseId" type="hidden" value="@Model.IOCaseId" />
    <input class="input" asp-for="CodeExerciseExerciseId" type="hidden" value="@Model.CodeExerciseExerciseId" />

    <button type="submit">Save changes</button>
</form>